<div class="modal-box">
    <p class="font-bold text-lg">Add New Connection</h3>
    <form action="/connectionAdd/" method="post">
        <i><span class="label-text text-xs">Source Asset</span></i>
        <select class="form-select input input-accent w-full" name="sourceApp" required>
            <option selected>Select Asset</option>
            <% for (const a of assetModel) { %>
                <option value="<%= a.ASSET_ID %>">
                    <%= a.ASSET_NAME %>
                </option>
                <% } %>
        </select>
        <i><span class="label-text text-xs">Destination Asset</span></i>
        <select class="form-select input input-accent w-full " name="destApp" required>
            <option selected>Select Asset</option>
            <% for (const a of assetModel) { %>
                <option value="<%= a.ASSET_ID %>">
                    <%= a.ASSET_NAME %>
                </option>
                <% } %>
        </select>
        <i><span class="label-text text-xs">Protocol</span></i>
        <input type="proto" id="proto" class="input input-accent w-full " name="proto">
        <i><span class="label-text text-xs">Encryption Used</span></i>
        <input type="enc" id="enc" class="input input-accent w-full " name="enc">
        <i><span class="label-text text-xs">Server Authentication</span></i>
        <input type="serverAuth" id="serverAuth" class="input input-accent w-full " name="serverAuth">
        <i><span class="label-text text-xs">Client Authentication</span></i>
        <input type="clientAuth" id="clientAuth" class="input input-accent w-full " name="clientAuth">
        <i><span class="label-text text-xs">Client Authorisation</span></i>
        <input type="clientAuthz" id="clientAuthz" class="input input-accent w-full " name="clientAuthz">
        <i><span class="label-text text-xs">Server CRL</span></i>
        <input type="serverCRL" id="serverCRL" class="input input-accent w-full " name="serverCRL">
        <i><span class="label-text text-xs">Client CRL</span></i>
        <input type="clientCRL" id="clientCRL" class="input input-accent w-full " name="clientCRL">
        <i><span class="label-text text-xs">Description of Connection</span></i>
        <input type="desc" id="desc" class="input input-accent w-full " name="desc">
        <div class="modal-action my-6">
            <div class="absolute bottom-2 left-2 "><label for="my-dataModal"
                    class="btn btn-warning btn-sm">Cancel</label>
            </div>
            <div class="absolute bottom-2 right-2  "><button id="subm" type="submit"
                    class="btn btn-success btn-sm">Add</button></div>
        </div>
    </form>
</div>