<div class="modal-box">
    <h3 class="font-bold text-lg">Load Map</h3>
    <form action="/mapLoad" method="post" encType="multipart/form-data">
        <input type="file" class="form-control w-full px-3 py-1.5 border border-solid border-gray-500 rounded"
            name="file" id="customFile" />

        <div class="modal-action">
            <div class="absolute bottom-0 left-2 mb-2"><label for="my-dataModal"
                    class="btn btn-warning btn-sm">Cancel</label>
            </div>
            <div class="absolute bottom-0 right-2 mb-2 "><button id="subm" type="submit"
                    class="btn btn-success btn-sm">Load</button></div>
        </div>
    </form>
</div>