<div class="modal-box">
    <p class="font-bold text-lg mb-6">Open Map</p>
    <form action="/mapLoad" method="post" encType="multipart/form-data">
        <input type="file" id="customFile" class="input input-accent w-full px-3 py-1.5" name="file">
        <div class="modal-action my-6">
            <div class="absolute bottom-0 left-2 mb-2"><label for="my-dataModal"
                    class="btn btn-warning btn-sm">Cancel</label>
            </div>
            <div class="absolute bottom-0 right-2 mb-2 "><button id="subm" type="submit"
                    class="btn btn-success btn-sm">Load</button></div>
        </div>
    </form>
</div>