<div class="modal-box">
    <p class="font-bold text-lg mb-6">Create New Map</p>
    <form action="/mapNew" method="post">
        WARNING - Unsaved Maps will be lost
        <div class="modal-action my-6">
            <div class="absolute bottom-0 left-2 mb-2"><label for="my-dataModal"
                    class="btn btn-warning btn-sm">No</label>
            </div>
            <div class="absolute bottom-0 right-2 mb-2 "><button id="subm" type="submit"
                    class="btn btn-success btn-sm">Yes</button></div>
        </div>
    </form>
</div>