<div class="modal-box">
    <h3 class="font-bold text-lg">Are you sure you wish to create a new Map</h3>
    <form action="/mapNew" method="post">
        <div class="modal-action">
            <div class="absolute bottom-0 left-2 mb-2"><label for="my-dataModal"
                    class="btn btn-warning btn-sm">No</label>
            </div>
            <div class="absolute bottom-0 right-2 mb-2 "><button id="subm" type="submit"
                    class="btn btn-success btn-sm">Yes</button></div>
        </div>
    </form>
</div>