<div class="modal-box">
    <h3 class="font-bold text-lg">Save and Dowload Map</h3>
    <form action="/mapSave" method="post">
        <input type="fn" id="fn" class="form-control w-full px-3 py-1.5 border border-solid border-gray-500 rounded" name="fn" placeholder="Map Name - without extension"> 

        <div class="modal-action">
            <div class="absolute bottom-0 left-2 mb-2"><label for="my-dataModal"
                    class="btn btn-warning btn-sm">Cancel</label>
            </div>
            <div class="absolute bottom-0 right-2 mb-2 "><button id="subm" type="submit"
                    class="btn btn-success btn-sm" onclick="window.location.reload()">Save</button></div>
        </div>
    </form>
</div>