<div class="modal-box">
    <p class="font-bold text-lg mb-6">Save and Dowload Map</p>
    <form action="/mapSave" method="post">
        <input type="fn" id="fn" class="input input-accent w-full" name="fn" placeholder="Map Name - without extension">
        <div class="modal-action my-6">
            <div class="absolute bottom-0 left-2 mb-2"><label for="my-dataModal"
                    class="btn btn-warning btn-sm">Cancel</label>
            </div>
            <div class="absolute bottom-0 right-2 mb-2 "><button id="subm" type="submit" class="btn btn-success btn-sm"
                    onclick="window.location.reload()">Save</button></div>
        </div>
    </form>
</div>