<!DOCTYPE html>
<html lang="en" data-theme="dark">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Simple Architechture Mapping</title>

    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.31.0/dist/full.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>

    <style>
        * {
            font-size: 0.6vw;
        }
        #subm {
            background-color: #36D399;
        }
    </style>

<body>
    <div class="navbar bg-base-100">
        <div class="flex-1">
            <a class="ml-2 text-xl">ArcMap</a>
        </div>
        <div class="flex-none">
            <ul class="menu menu-horizontal p-0">
                <li><a><label for="my-dataModal" hx-get="/mapNew" hx-target="#newMod" hx-trigger="click"
                            _="on htmx:afterOnLoad wait 10ms then add .show to #modal then add .show to #modal-backdrop">New
                            Map</label></a></li>

                <li class="nav-item">
                    <a> <label for="my-dataModal" hx-get="/mapLoad" hx-target="#newMod" hx-trigger="click"
                            _="on htmx:afterOnLoad wait 10ms then add .show to #modal then add .show to #modal-backdrop">Open
                            Map</label></a>
                </li>

                <li class="nav-item">
                    <a><label for="my-dataModal" hx-get="/mapSave" hx-target="#newMod" hx-trigger="click"
                            _="on htmx:afterOnLoad wait 10ms then add .show to #modal then add .show to #modal-backdrop">Save
                            Map</label></a>
                </li>
            </ul>
        </div>
    </div>