<!DOCTYPE html>
<html lang="en" data-theme="dracula">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Simple Architechture Mapping</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js"
        integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK"
        crossorigin="anonymous"></script>
<style>
    *
{
    font-size: 0.6vw;
}
</style>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">ArchMap</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
            
                    <li class="nav-item">
                        <button 
                        hx-get="/mapNew/" 
                        hx-target="#dataModal" 
                        hx-trigger="click"
                        class="btn btn-success btn-sm"
                        _="on htmx:afterOnLoad wait 10ms then add .show to #modal then add .show to #modal-backdrop">New Map</button>
                    </li>
                    <li class="nav-item">
                        <button 
                        hx-get="/mapLoad/" 
                        hx-target="#dataModal" 
                        hx-trigger="click"
                        class="btn btn-success btn-sm"
                        _="on htmx:afterOnLoad wait 10ms then add .show to #modal then add .show to #modal-backdrop">Load Map</button>
                    </li>
                    <li class="nav-item">
                        <button 
                        hx-get="/mapSave/" 
                        hx-target="#dataModal" 
                        hx-trigger="click"
                        class="btn btn-success btn-sm"
                        _="on htmx:afterOnLoad wait 10ms then add .show to #modal then add .show to #modal-backdrop">Save Map</button>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Downlaod Map</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>